[submodule "apetag"]
	path = apetag
	url = https://aur.archlinux.org/apetag.git
[submodule "imgur-uploader-git"]
	path = imgur-uploader-git
	url = https://aur.archlinux.org/imgur-uploader-git.git
[submodule "gmsl"]
	path = gmsl
	url = https://aur.archlinux.org/gmsl.git
[submodule "hddfancontrol"]
	path = hddfancontrol
	url = https://aur.archlinux.org/hddfancontrol.git
[submodule "bpm-tools"]
	path = bpm-tools
	url = https://aur.archlinux.org/bpm-tools.git
[submodule "mpv-scripts"]
	path = mpv-scripts
	url = https://aur.archlinux.org/mpv-scripts.git
[submodule "abchr"]
	path = abchr
	url = https://aur.archlinux.org/abchr.git
