[submodule "apetag"]
	path = apetag
	url = https://aur.archlinux.org/apetag.git
[submodule "imgur-uploader-git"]
	path = imgur-uploader-git
	url = https://aur.archlinux.org/imgur-uploader-git.git
[submodule "gmsl"]
	path = gmsl
	url = https://aur.archlinux.org/gmsl.git
[submodule "python-hddfancontrol"]
	path = hddfancontrol
	url = https://aur.archlinux.org/python-hddfancontrol.git
[submodule "debmirror"]
	path = debmirror
	url = https://aur.archlinux.org/debmirror.git
[submodule "perl-lockfile-simple"]
	path = perl-lockfile-simple
	url = https://aur.archlinux.org/perl-lockfile-simple.git
[submodule "bpm-tools"]
	path = bpm-tools
	url = https://aur.archlinux.org/bpm-tools.git
